<% include head %>
  <script type="text/javascript" src="/javascripts/homepage.js"></script>
  <script type="text/javascript" src="/javascripts/dropdown.js"></script>  
  <div class="ui large top inverted menu main">
    <div class="ui container">
      <div class="header active item">首页</div> 
      <a href="/reward" class="item">订单</a>     
      <div class="right menu">
        <div class="ui pointing dropdown link item">
          <%= user %>
          <div class="menu">
            <a href="\info" class="item">我的信息</a>
            <div class="item">我的订单</div>            
          </div>
        </div>
        <a href="\login" class="item">登出</a>                
      </div> 
    </div>
  </div>

  <div class="ui  main container homepage">
    <div class="ui four column doubling grid">
    <% rows.forEach(function(r){ %>      
      <a href="/canteen/<%= r.id %>" class="column">
        <div class="ui link card">
          <img class="ui medium image" src="/images/canteen.jpg" alt="">
          <div class="content">
            <div class="header">
              <%= r.canteen_name %>
            </div>
            <div class="description">
              <label for="">地址</label>:<%= r.canteen_location %>
            </div>
          </div>
          <div class="extra content">
            <label for="">评分:</label>
            <div data-rating="<%= r.score %>" data-max-rating="5" class="ui small star rating"></div>
          </div>
        </div>
      </a>
    <% }) %>
  </div>
  </div>
<% include foot %>

